
//font-family: 'Cinzel', serif;
//font-family: 'Amatic SC', cursive;
//font-family: 'Alegreya Sans SC', sans-serif;

$header-font:'Cinzel', serif;
$header-font2:'Amatic SC', cursive;
$text-font:'Alegreya Sans SC', sans-serif;

